
h1{
  text-align: center;
  font-size: large;
}
/* .container{
  justify-content: center;
  margin-top: 50px;
  
} */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}
button:hover {
  opacity: 0.8;
}
.pt-5{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.pt-5, .py-5 {
  padding-top: 3rem!important;
  
}

.Toastify__close-button {
  width: 20px;
}